ion-header{
    --background:#FFF1F5;
}

ion-content{
    --background:#FFF1F5;
    padding-top: 100px;
}
ion-toolbar{
    --background:#fffdfe;
    padding-bottom: 0px;
}
img{
    text-align: center;
    
}
