<ion-header class="ion-no-border">

</ion-header>

<ion-content class="ion-padding">
  <h2 style="text-align: center; padding-top: 40px;">Página no encontrada</h2>
  <ion-img src="assets/404error.svg" style="padding-top: 30px;"></ion-img>
  <h4 style="text-align: center; padding-top: 0px; font-size: small;">Parece que la página que buscas no se encuentra aquí, quien sabe quizás el viento se llevó la página que buscabas.
    pero puedes volver a la página de inicio.</h4>
  
  <ion-button [routerLink]="['/sesion']" expand="block" class="ion-margin-top"><ion-icon name="flower" slot="end"></ion-icon>Volver a Iniciar Sesión</ion-button>
</ion-content>