ion-header{
    --background:#FFF1F5;
}

ion-content{
    --background:#FFF1F5;
}
h4{
    font-weight: bold;
    color: #bf7aaa;
}
h2{
    font-weight: bold;
    color: #bf7aaa;
}
ion-button{
    --background:#f5c4e2;
    width: 100%;
    font-weight: bold;
}
