ion-header{
    --background:#FFF1F5;
  }
  
  ion-content{
    --background:#FFF1F5;
  }
  ion-toolbar{
    --background:#fffdfe;
  }
  ion-item{
    --background:#FFF1F5;
  }
  
  h2{
    color: rgb(118, 117, 118);
  }