<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon [routerLink]="['/perfilclie']" name="arrow-back" style="color: rgb(255, 169, 169); width: 25px; height: 25px; padding-left: 10px;"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content >

  <h2 style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;">direcciones guardadas</h2>

  <ion-item>
    <ion-checkbox slot="start" color="success"></ion-checkbox>
    <ion-label style="font-size:small; padding-bottom: 20px;" >Los Paltos 766, <br>Huechuraba, <br>Región Metropolitana</ion-label>
  </ion-item>
  <h2 style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;"></h2>

  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1294.6469526884714!2d-70.63515314433302!3d-33.364246917712464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgeolocation%20ionic!5e1!3m2!1ses-419!2scl!4v1673214327855!5m2!1ses-419!2scl" width="260" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-content>
