ion-header {
    --background: #FFF1F5;
}

ion-content {
    --background: #FFF1F5;
}

h3 {
    font-weight: 100;
    font-size: 26px;
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 10px;
    text-decoration: dashed;
}

ion-card-content {
    font-size: 13px;
    text-align: center;
}

ion-card {
    --background: #f9f8f8;
}

ion-toolbar {
    --background: #FFF1F5;
}
