ion-no-border{
    --background:#FFF1F5;
}
ion-item{
    --background:#ffffff;
}
ion-menu-toggle{
    border-color: #ffffff;
}
ion-list{
    border-radius: 0px;
    border-color: #FFF1F5;
}

img{
    width: 110px;
    height: 100px;
}
.button-inner{
    color: #f08dff;
}
h3{
    color:rgb(189, 189, 189);
    align-items: center;
}
p{
    text-align: center;
}