<ion-app>

  <ion-menu side="start" menuId="first" contentId="main"  class="background">
    <ion-header class="ion-no-border">

    </ion-header>
    <ion-content>
      <ion-list style="text-align: center;padding-top: 50px;">
      <img src="assets/Cerezo.png"/>   
      </ion-list>
      <p style="padding-bottom: 0px;margin-bottom: 0px;">Bienvenid@</p>
      <ion-list>
        <ion-menu-toggle>
        <ion-item routerLink="/inicio" style="color:rgb(189, 189, 189);"><ion-icon name="home" style="font-size: 23px; color: #f4c9da;"></ion-icon>Inicio</ion-item>
        <ion-item routerLink="/perfilclie" style="color:rgb(189, 189, 189);"><ion-icon name="person" style="font-size: 23px; color: #f4c9da;"></ion-icon> Perfil</ion-item>
        <ion-item routerLink="/carrito" style="color:rgb(189, 189, 189);"><ion-icon name="cart" style="font-size: 23px; color: #f4c9da;"></ion-icon> Canasta</ion-item>
        <ion-item routerLink="/menu" style="color:rgb(189, 189, 189);"><mat-icon style="font-size: 23px; color: #f4c9da;"> restaurant_menu</mat-icon> Menú</ion-item>
        <ion-item routerLink="/sesion" style="padding-top: 40px; color:rgb(189, 189, 189);"><ion-icon name="log-out" style="font-size: 23px; color: #f4c9da;"></ion-icon> Cerrar Sesión</ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
