<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon [routerLink]="['/perfildue']" name="arrow-back" style="color: rgb(255, 169, 169); width: 25px; height: 25px; padding-left: 10px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;">Ver Usuarios</h2>
  <br>
  <table style="border: 1px solid #bdbdbd;">
    <tr>
      <th style="padding-left: 15px;padding-right: 15px;padding-top: 5px;padding-bottom: 5px;">Nombre</th>
      <th style="padding-left: 15px;padding-right: 15px;padding-top: 5px;padding-bottom: 5px;">Apellido</th>
      <th style="padding-left: 20px;padding-right: 20px;padding-top: 5px;padding-bottom: 5px;">Correo</th> 
    </tr>
    <tr>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Juan</td>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Pérez</td> 
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Juanp@gmail.cl</td> 
    </tr>
    <tr>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Maria</td>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Trinidad</td> 
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">MariaT@gmail.cl</td>       
    </tr>
    <tr>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Anna</td>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Maria</td> 
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">AniMa@gmail.cl</td>       
    </tr>
    <tr>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Toya</td>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Aoyagi</td> 
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">VividT@gmail.cl</td>       
    </tr>
    <tr>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">An</td>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Shiraishi</td> 
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">ASVivid@gmail.cl</td>       
    </tr>
    <tr>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Miku</td>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Hatsune</td> 
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">miku@gmail.cl</td>       
    </tr>
    <tr>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Rin</td>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Kagamine</td> 
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Rin@gmail.cl</td>       
    </tr>
    <tr>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Akito</td>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Shinonome</td> 
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">ShinA@gmail.cl</td>       
    </tr>
    <tr>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center;">Kanade</td>
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">Yoisaki</td> 
      <td style="padding-right: 10px;padding-top: 10px;padding-bottom: 10px; text-align: center">YoiK@gmail.cl</td>       
    </tr>
  </table>

</ion-content>
