<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;">Perfil</h2>
  <div class="perfil_contenido">
    <img style="border-radius: 50%;" src="assets/len.png" style="border-radius: 50%;padding-left: 80px;padding-right: 80px;">
  </div>
  <h1 style="text-align: center;font-size: 18px; color: #f283aa;">Len Kagamine</h1>
  <h2 style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;padding-top: 10px;padding-bottom: 5px;"></h2>
  <ion-item routerLink="/admusuarios" style="color:rgb(157, 157, 157);"><ion-icon name="people" style="font-size: 23px; color: #f0aca5;"></ion-icon> Ver usuarios</ion-item>
  
  <h2 style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;padding-top: 10px;padding-bottom: 5px;"></h2>
  <ion-item routerLink="/admcomidas" style="color:rgb(157, 157, 157); "><ion-icon name="restaurant" style="font-size: 23px; color: #f0aca5;"></ion-icon> Administrar comidas</ion-item>

  <h2 style="border-bottom: 2px solid rgb(118, 117, 118); font-size: 17px;text-align: left;padding-top: 10px;padding-bottom: 5px;"></h2> 
  <ion-item routerLink="/sesion" style="color:rgb(157, 157, 157);"><ion-icon name="log-out" style="font-size: 23px; color: #f0aca5;"></ion-icon> Cerrar Sesión</ion-item>



</ion-content>


