ion-header {
    --background: #FFF1F5;
}

ion-content {
    --background: #FFF1F5;
}

ion-toolbar {
    --background: #fffdfe;
}

ion-item {
    --background: #FFF1F5;
    border-bottom: 1px solid rgb(209, 125, 125);
}

h2 {
    color: rgb(118, 117, 118);
}

ion-img{
    width: 65px;
    height: 65px;
}

ion-thumbnail {
    width: 50px;
    height: 50px;
}

ion-label {
    font-size: 14px;
}

ion-button {
    font-size: 14px;
}