ion-header{
    --background:#FFF1F5;
}

ion-content{
    --background:#FFF1F5;
    padding-top: 100px;
}
ion-toolbar{
    --background:#fffdfe;
    padding-bottom: 0px;
}
ion-card-subtitle{
    font-size: 12px;
}
ion-card-title{
    font-size: 15px;
}
.registro-button {
    --background: #f5c4e2;
    width: 100%;
    font-weight: 10px;
    size-adjust: 30%;
}